@import "../../../sass/variables.scss";

.LearningCard {
  position: relative;
  .Card {
    overflow: hidden;
  }
}

.LearningCard__title {
  border: 0;
  padding: 0;
  height: 4rem;
  font-size: 2rem;
  background: none;
}

.LearningCard__uploads {
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  background: #666;
}

.LearningCard__upload-zone {
  text-align: center;
  padding: 3rem;
  background: rgba(0,0,0,0.25);
  border-radius: $radius;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Mobile {
  display: flex;
  position: relative;
  width: 320px;
  height: 640px;
  background: #333;
  border-radius: 4rem;
  overflow:hidden;
}

.Mobile__content {
  padding: 1rem;
  flex: 1;
  font-size: 0.825rem;
}

.Mobile__hero {
  background: #333;
  display: flex;
  color: rgba(255,255,255,0.5);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  position: relative;
}

.dz-clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  .dz-error-mark,
  .dz-success-mark { display: none }
  &:before {
    content: "Drop video anywhere to upload or";
    font-size: 1rem;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 0.5rem;
  }
  &:after {
    content: "Upload video";
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #fefefe;
    color: $color;
    border-radius: $radius;
    transition: all 200ms ease;
    box-shadow: $boxShadow;
  }
  &:hover:after {
    box-shadow: $boxShadowHover;
  }
  &.dz-started:before,
  &.dz-started:after {
    display: none;
  }
}

.dz-error .dz-error-mark {
  display: block;
}

.Mobile__quiz {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1rem;
  transition: transform 200ms ease;
  z-index: 100;
}

.Mobile__quiz--visible {
  transform: translateY(-100%);
}

.Mobile__header {
  background: $blue;
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  padding: 0 1rem;
  h4 { color: #fff }
}

.Mobile__screen {
  background: #eee;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 4rem;
}

.Mobile__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  background: #fff;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.15);
}

.LearningCard__mobile {
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  background: #eee;
  padding: 2rem 1rem;
}

.LearningCard__form {
  padding-right: calc(320px + 4rem);
}
