<div class="LearningCard">
  <div class="LearningCard__form">
    <form>
      <div class="Card">
        <div class="form__group">
          <label class="label" for="activeCard-name">Name</label>
          <input class="input" type="text" id="activeCard-name" @change="save" v-model="activeCard.name" />
        </div>
        <div class="form__group">
          <label class="label" for="activeCard-content">Content</label>
          <wysiwyg v-model.lazy="activeCard.content" @change="save" />
        </div>
        <div class="form__group">
          <label class="label" for="activeCard-task">Practical Task</label>
          <textarea class="input" id="activeCard-task" v-model.lazy="activeCard.evidence_task" @change="save"></textarea>
        </div>
      </div>
      <h3>Quiz</h3>
      <QuizBuilder :data="quiz"></QuizBuilder>
    </form>
  </div>
  <div class="LearningCard__mobile">
    <div class="marvel-device nexus5">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="screen">
        <div class="Mobile__screen">
          <div class="Mobile__header">
            <h4 class="flat">{{ activeCard.name }}</h4>
          </div>
          <div class="Mobile__hero">
            <div class="Mobile__video" v-show="activeCard.media">
              <i class="fa fa-trash-alt Mobile__delete-video" @click="removeVideo"></i>
              <video controls ref="video"></video>
            </div>
            <vue-dropzone ref="myVueDropzone"
              id="dropzone"
              :options="dropzoneOptions"
              :includeStyling="false"
              v-show="!activeCard.media"
              @vdropzone-sending="sendingEvent"
              @vdropzone-success="success"
            >
            </vue-dropzone>
            <!--
            <form method="POST" :action="uploadUrl" enctype="multipart/form-data">
              <input type="file" name="video" @change="changeFile">
              <button class="btn">Upload video</button>
            </form>
            -->
          </div>
          <div class="Mobile__content" v-if="activeCard.content">
            <div v-html="activeCard.content"></div>
          </div>
        </div>
        <div class="Mobile__footer">
          <div class="btn btn--standard" @click="quizVisible = true">Take quiz</div>
          <div class="btn btn--standard">View task</div>
        </div>
        <div class="Mobile__task">
          {{ activeCard.evidence_task }}
        </div>
        <div :class="{ 'Mobile__quiz': true, 'Mobile__quiz--visible' : quizVisible }">
          <Quiz @finish="quizVisible = false" :questions="quiz"></Quiz>
        </div>
      </div>
    </div>
  </div>
</div>
