<div class="LearningCard">
  <div class="LearningCard__form">
    <form>
      <div class="Card">

        <div class="form__group">
          <label class="label" for="card-name">Name</label>
          <input class="input" type="text" id="card-name" @change="save" v-model="card.name" />
        </div>

        <div class="form__group">
          <label class="label" for="card-content">Content</label>
          <wysiwyg v-model.lazy="card.content" @change="save" />
        </div>

        <div class="form__group">
          <label class="label" for="card-task">Practical Task</label>
          <textarea class="input" id="card-task" v-model.lazy="card.evidence_task" @change="save"></textarea>
        </div>
      </div>
      <h3>Quiz</h3>
      <QuizBuilder :data="quiz"></QuizBuilder>
    </form>
  </div>
  <div class="LearningCard__mobile">
    <div class="marvel-device nexus5">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="screen">
        <div class="Mobile__screen">
          <div class="Mobile__header">
            <h4 class="flat">{{ card.name }}</h4>
          </div>
          <div class="Mobile__hero">
            <vue-dropzone ref="myVueDropzone"
              id="dropzone"
              :options="dropzoneOptions"
              :includeStyling="false"
              @vdropzone-sending="sendingEvent"
            >
            </vue-dropzone>
            <!--
            <form method="POST" :action="uploadUrl" enctype="multipart/form-data">
              <input type="file" name="video" @change="changeFile">
              <button class="btn">Upload video</button>
            </form>
            -->
          </div>
          <div class="Mobile__content" v-if="card.content">
            <div v-html="card.content"></div>
            <!-- <p v-for="p in card.content.split('\n')">{{ p }}</p> -->
          </div>
        </div>
        <div class="Mobile__footer">
          <div class="btn btn--standard" @click="quizVisible = true">Take quiz</div>
          <div class="btn btn--standard">View task</div>
        </div>
        <div class="Mobile__task">
          {{ card.evidence_task }}
        </div>
        <div :class="{ 'Mobile__quiz': true, 'Mobile__quiz--visible' : quizVisible }">
          <Quiz @finish="quizVisible = false" :questions="quiz"></Quiz>
        </div>
      </div>
    </div>
  </div>
</div>
