<h1>Welcome {{name}},</h1>

<p><a href="https://headway.herokuapp.com/client">https://headway.herokuapp.com/</a></p>
<p>Your email is <strong>{{email}}</strong></p>
<p>Your password is <strong>{{password}}</strong></p>

<p>
    Regards,<br>
    Headway
</p>
