<div class="Course">
  <Breadcrumbs :crumbs="breadcrumbs">
    <div>
      <button class="btn" v-show="view == 'course'" @click="toggleModal('unit')">Create a unit</button>
      <button class="btn" v-show="view == 'unit'" @click="toggleModal('card')">Create a card</button>
    </div>
  </Breadcrumbs>
  <Units
    v-if="view == 'course' && activeCourse.units"
    :units="activeCourse.units">
  </Units>
  <Cards v-if="view == 'unit' && activeUnit.cards" :cards="activeUnit.cards"></Cards>
  <LearningCard v-if="view == 'card'" :card="activeCard"></LearningCard>
</div>
