@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html {
  overflow-y: scroll;
}

.flat {
  margin-bottom: 0 !important;
}

.pressed {
  margin-bottom: 0.5rem !important;
}

a,
.router-link,
.router-link-active {
  text-decoration: none;
}

html,
body,
#app-main {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $color;
  background: #f9f9f9;
}

small {
  font-size: 0.825rem;
}

.ghosted {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
label,
table,
.Card {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75rem;
  font-weight: 700;
  color: #111;
}

.container {
  width: 100%;
  max-width: 720px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container--large {
  max-width: 1200px;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 37px;
  padding: 0rem 2rem;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  border-radius: $radius;
  text-shadow: $textShadow;
  box-shadow: $boxShadow;
  opacity: 0.9;
  border: 0;
  font-size: 0.825rem;
  font-weight: 500;
  transition: opacity 200ms ease;
  text-align: center;
  cursor: pointer;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--small {
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
}

.btn--large {
  height: 50px;
  line-height: 50px;
  padding: 0 2.5rem;
  font-size: 1rem;
}

.btn--standard {
  background: #fefefe;
  color: $green;
  border: 1px solid #ddd;
  line-height: 35px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  opacity: 1;
}

.form__group {
  margin-bottom: 0.75rem;
}

.form__footer {
  padding-top: 0.75rem;
}

.input {
  height: 2.25rem;
  font-size: 0.825rem;
  border: 1px solid #ddd;
  padding: 0 1rem;
  width: 100%;
  outline: 0;
  font-family: inherit;
  border: 1px solid #ddd;
  transition: border 200ms ease;
  &:focus {
    border-color: #0bab64;
  }
}

div.input {
  line-height: 2.25rem;
}

.input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.4);
  font-style: italic;
}

textarea.input {
  min-height: 8rem;
  line-height: 1.5;
  padding: 1rem;
}

.label {
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem 0;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  transition: background 200ms ease;
  cursor: pointer;
}

.checkbox:hover {
  background: rgba(0,0,0,0.05);
}

.checkbox input {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.flex--stacked {
  flex-direction: column;
}

.flex--aligned {
  align-items: center;
}

.flex--centered {
  justify-content: center;
}

.flex--spaced {
  justify-content: space-between;
}

.flex--guts {
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.75rem;
}

.icon.course { background-image: url('/assets/img/icons/course.svg'); }

.icon.unit { background-image: url('/assets/img/icons/unit.svg'); }

.icon.card-complete { background-image: url('/assets/img/icons/card-complete.svg'); }
