@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

.flat {
  margin-bottom: 0 !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
label,
table,
.Card {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75rem;
  font-weight: 700;
  color: #111;
}

.container {
  padding: 0 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 37px;
  padding: 0rem 2rem;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0.125rem 0.25rem rgba(0,0,0,0.25);
  opacity: 0.9;
  border: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  transition: opacity 200ms ease;
  text-align: center;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--small {
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  opacity: 1;
}

.form__group {
  margin-bottom: 0.75rem;
}

.form__footer {
  padding-top: 0.75rem;
}

.input {
  height: 2.25rem;
  line-height: 2.3125rem;
  border: 1px solid #ddd;
  padding: 0 1rem;
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  transition: border 200ms ease;
  font-size: 1rem;
  &:focus {
    border-color: #0bab64;
  }
}

.input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.4);
  font-style: italic;
}

textarea.input {
  min-height: 4rem;
}

.label {
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem 0;
}
