<div>
  <h1>Dashboard</h1>

  <div class="nav">
    <router-link class="btn" to="/styleguide">Style Guide</router-link>

    <a class="btn" href="http://localhost:5000/status">Server Status</a>

    <a class="btn" href="http://localhost:5000/admin/login">Admin Login</a>
    <a class="btn" href="http://localhost:5000/student/login">Student Login</a>

    <a class="btn" href="http://localhost:5000/api/course">Course REST API</a>
    <a class="btn" href="http://localhost:5000/api/card">Card REST API</a>
    <a class="btn" href="http://localhost:5000/api/student">Course REST API</a>
  </div>
</div>
