<div class="landing text-centered">
  <div class="flex flex--stacked" style="margin: 200px auto; width: 400px">
    <h2>Front-end</h2>
    <router-link class="btn" to="/styleguide">Style Guide</router-link>
    <router-link class="btn" to="/dashboard">Admin Dashboard</router-link>
    <br>
    <h2>Auth</h2>
    <a class="btn" href="http://localhost:5000/status">Server Status</a>
    <a class="btn" href="http://localhost:5000/admin/login">Admin Login</a>
    <a class="btn" href="http://localhost:5000/student/login">Student Login</a>
    <a class="btn" href="http://localhost:5000/user">Current User Details</a>

    <br>

    <h2>API</h2>
    <a class="btn" href="http://localhost:5000/api/course">Course REST API</a>
    <a class="btn" href="http://localhost:5000/api/card">Card REST API</a>
    <a class="btn" href="http://localhost:5000/api/student">Student REST API</a>

  </div>

  <div v-for="course in courses">
    <h2>{{course.name}}</h2>
    <h3>Units</h3>
    <ul>
      <li v-for="unit in course.units">
        {{unit}}
      </li>
    </ul>
    <h3>Students</h3>
    <ul>
      <li v-for="student in course.students">
        {{student}}
      </li>
    </ul>
  </div>
</div>
