<div class="landing text-centered">
  <div class="container flex flex--stacked">
    <h2>Front-end</h2>
    <div class="landing__btns">
      <router-link class="btn" to="/styleguide">Style Guide</router-link>
      <router-link class="btn" to="/dashboard">Admin Dashboard</router-link>
    </div>
    <h2>Auth</h2>
    <div class="landing__btns">
      <a class="btn" href="http://localhost:5000/status">Server Status</a>
      <a class="btn" href="http://localhost:5000/admin/login">Admin Login</a>
      <a class="btn" href="http://localhost:5000/student/login">Student Login</a>
      <a class="btn" href="http://localhost:5000/user">Current User Details</a>
    </div>
    <h2>API</h2>
    <div class="landing__btns">
      <a class="btn" href="http://localhost:5000/api/course">Course REST API</a>
      <a class="btn" href="http://localhost:5000/api/card">Card REST API</a>
      <a class="btn" href="http://localhost:5000/api/student">Student REST API</a>
    </div>
  </div>
</div>
