@import "../../sass/variables.scss";

.CourseMenu {
  list-style: none;
  box-shadow: $boxShadow;
}

.CourseMenu__item {
  margin-bottom: 0.0625rem;
}

.CourseMenu__link {
  display: block;
  padding: 1rem 1rem;
  text-decoration: none;
  color: inherit;
  border-left: 0.5rem solid rgba(0,0,0,0.1);
  transition: all 200ms ease;
  font-size: 0.85rem;
  font-weight: 500;
  background: #fff;
}

.CourseMenu__link--active,
.CourseMenu__link:hover {
  border-left-color: $blue;
}
