<div class="QuizBuilder">
  <div class="QuizBuilder__question Card"
    v-if="questions.length"
    v-for="(question, qIndex) in questions"
    :key="qIndex"
  >
    <h4 class="pressed">Question {{ qIndex + 1 }}</h4>
    <input type="text"
      class="input"
      :id="'question-' + qIndex"
      @change="save"
      v-model.lazy="question.question"
      placeholder="Question"
    >
    <div class="Card__body">
      <div class="QuizBuilder__answers">
        <label class="label">Answers</label>
        <div v-for="(answer, aIndex) in question.answers"
          class="QuizBuilder__answer"
          :key="aIndex"
        >
          <input type="text"
            class="input"
            v-model.lazy="answer.text"
            :id="'answer-' + qIndex + '-' + aIndex"
            @change="save"
            placeholder="Answer"
          >
          <label class="QuizBuilder__toggle">
            <input type="checkbox" class="toggle-check-input" v-model="answer.correct" @change="save" />
            <span class="toggle-check-text"></span>
          </label>
          <a hidden @click.prevent="removeAnswer(qIndex, aIndex)">Remove Answer</a>
        </div>
        <div class="input QuizBuilder__add-answer" @click="addAnswer(qIndex)">Add another answer</div>
      </div>
      <a hidden @click.prevent="removeQuestion(qIndex)">Remove Question</a>
    </div>
  </div>
  <span class="btn btn--standard Quiz__add-question" @click="addQuestion">Add question</span>
</div>
