<div class="QuizBuilder">
  <div class="QuizBuilder__question Card"
    v-if="questions.length"
    v-for="(question, qIndex) in questions"
    :key="qIndex"
  >
    <h4 class="pressed">Question {{ qIndex + 1 }}</h4>
    <input type="text"
      class="input"
      @focus.native="$event.target.select()"
      v-model="question.question"
      placeholder="Question"
    >
    <div class="Card__body">
      <div class="QuizBuilder__answers">
        <label class="label">Answers</label>
        <div v-for="(answer, aIndex) in question.answers"
          class="QuizBuilder__answer"
          :key="aIndex"
        >
          <input type="text"
            class="input"
            v-model="answer.text"
            placeholder="Answer"
          >
          <input type="checkbox" v-model="answer.correct">
        </div>
        <div class="input QuizBuilder__add-answer" @click="addAnswer(qIndex)">Add another answer</div>
      </div>
    </div>
  </div>
  <span class="btn btn--standard Quiz__add-question" @click="addQuestion">Add question</span>
  <span class="btn" @click="save">Save</span>
</div>
