<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Headway - The smarter way to deliver your training</title>
    <link rel="shortcut icon" href="landing/images/favicon-32x32.png">
    <link rel="stylesheet" href="landing/styles.css">
  </head>
  <body>
    <main>
    <header class="section hero">
      <div class="hero__bg">
        <span></span>
      </div>
      <div class="container hero__container">
        <header class="header">
          <img src="landing/images/logo-full-green-white@2x.png" alt="Headway" class="logo">
          <div class="flex">
            <a href="/dashboard" class="header__btn" id="login">
              Login as Admin
            </a>
            <a href="/app" class="header__btn" id="login" style="margin-left: 12px">
              Login as Student
            </a>
          </div>
        </header>
        <div class="hero__content">
          <h1>The smarter way to deliver your training</h1>
          <p><strong>Headway</strong> creates a learning environment which strengthens the partnership between trainers, students and mentors. Our app gives unmatched insights to any party invested in someones education.</p>
          <p><a href="#signup-section" class="btn">Request access</a></p>
        </div>
        <img src="landing/images/card-example.png" alt="" class="hero__example">
      </div>
    </header>
    <section class="section section--company section--spaced">
      <div class="container">
        <header class="section__header">
          <h2 class="flat">Why your organisation will love Headway</h2>
          <p>Apps that help your training run smoother than ever</p>
        </header>
        <div class="grid">
          <div>
            <h4 class="flat">Make your visits count</h4>
            <p>See businesses you train in order of importance. Which one has the most amount of modules completed? Who is the most in need of a visit.</p>

          </div>
          <div>
            <h4 class="flat">Real time progress updates</h4>
            <p>Stay up to date with everything your students, whether they watching videos, passing or failing quizzes, completing assessment or uploading practical evidence.</p>
          </div>
          <div>
            <h4 class="flat">Rapidly distribute content</h4>
            <p>Student assessment and records meet the required stanard to easily integrate into any other existing software you use to receive incentives.</p>
          </div>
          <div>
            <h4 class="flat">Improve your training</h4>
            <p>Video is proven to be the most effective form of learning. If you are not always able to visit your students in person, then being able to share training material through video is priceless.</p>
          </div>
        </div>
        <img src="landing/images/wizard.png" alt="" class="wizard-screen section__figure">
      </div>
    </section>
    <section class="section section--learning">
      <div class="container">
        <h3 class="title">Learning is a team effort</h3>
        <div class="section__figure">
          <div class="triangle triangle--school" id="triangle">
            <div>
              <div class="triangle__message">Investment</div>
              <div class="triangle__message">Investment</div>
              <div class="triangle__message">Investment</div>
            </div>
            <div>
              <div class="triangle__arrows"></div>
              <div class="triangle__arrows"></div>
              <div class="triangle__arrows"></div>
            </div>
            <div>
              <div class="triangle__point">
                <div class="triangle__avatar">
                  <img src="landing/images/student.png" class="school" alt="">
                  <img src="landing/images/employee.png" class="occupational" alt="">
                </div>
                <span class="triangle__label school">Student</span>
                <span class="triangle__label occupational">Employee</span>
              </div>
              <div class="triangle__point">
                <div class="triangle__avatar">
                  <img src="landing/images/teacher.png" class="school" alt="">
                  <img src="landing/images/trainer.png" class="occupational" alt="">
                </div>
                <span class="triangle__label school">Teacher</span>
                <span class="triangle__label occupational">Trainer</span>
              </div>
              <div class="triangle__point">
                <div class="triangle__avatar">
                  <img src="landing/images/parent.png" class="school" alt="">
                  <img src="landing/images/employer.png" class="occupational" alt="">
                </div>
                <span class="triangle__label school" class="">Parent</span>
                <span class="triangle__label occupational">Employer</span>
              </div>
            </div>
          </div>
          <div class="toggle">
            <div class="toggle__option toggle__option--on" data-toggle="school">School/Uni</div>
            <div class="toggle__option" data-toggle="occupational">Occupational</div>
          </div>
        </div>
        <p>We understand that learning involves more than just a teacher and a student. Our app creates an engaging environment for all parties involved in  someones educational journey.</p>
      </div>
    </section>
    <section class="section section--seperated section--evidence">
      <div class="container">
        <h3 class="title">Kinesthetic Learning</h3>
        <p>The famous Greek philospher, Aristotle, once wrote - "for the things we have to learn before we can do them, we learn by doing them".</p>
        <div class="section__figure">
          <div class="evidence">
            <div class="evidence__thumb">
              <footer>
                <div class="evidence__tag">Submitted</div>
                <span>Uploaded 2 days ago</span>
              </footer>
            </div>
            <div class="evidence__body">
              <h4 class="evidence__title">Topdressing</h4>
              <p class="flat">Provide evidence of you topdressing greens, tees or fairways.</p>
            </div>
          </div>
        </div>
        <p>We are big believers in this kind of thinking. Learning through the reflection is proven to be more efficient than passive learning like reading or listening.</p>
        <p>With <strong>Headway</strong> you can create tasks for your students to demonstrate their capabilities. Our easy to use mobile apps allow students to capture themselves performing designated tasks and instantly upload for your approval.</p>
      </div>
    </section>
    <section class="section section--seperated section--course">
      <div class="container">
        <h3 class="title">Create your own courses</h3>
        <div class="section__figure">
          <img src="landing/images/courses.png" alt="">
        </div>
        <p>Create your own courses with our easy to use course builder. Courses are made up of Learning Cards which contain everything a student needs to learn, including video, imagery, audio, tasks and a multiple choice quiz to reaffirm their learning.</p>
        <p>No matter how your student prefers to learn, whether it's visually, auditry, by reading/writing or kinestheticly, there is always an option avaiable to them through <strong>Headway</strong>.</p>
      </div>
    </section>
    <section class="section section--seperated">
      <div class="container">
        <header class="section__header">
          <h2 class="flat">Why your students will love Headway</h2>
          <p>Powerful features to make training more collaborative.</p>
        </header>
        <div class="grid">
          <div>
            <h4 class="flat">High quality video and audio</h4>
            <p>We promote the use of video and audio in all of our Cards. Audio mode allows students to listen in the car, on public transport or even on the job</p>

          </div>
          <div>
            <h4 class="flat">Capture evidence, easily</h4>
            <p>Capturing evidence required for assessments is done through the camera and then sent to your organisation immediately for approval.</p>
          </div>
          <div>
            <h4 class="flat">Access content anywhere, anytime</h4>
            <p>No longer do students need to carry around huge binders or folders of documents. All their content is now just a few swipes away.</p>
          </div>
          <div>
            <h4 class="flat">A real sense of progress</h4>
            <p>Our simple to use interface easily guides students through the content with a real emphasis put on progression, all the way from theory to practical and finally assessments.</p>
          </div>
        </div>
      </div>
    </section>
    </main>
    <footer class="footer" id="signup-section">
      <div class="container">
        <form action="" class="signup-form">
          <h2 class="text-centered flat">Start your free trial</h2>
          <p>Two students. Two courses. No credit card required.</p>
          <div class="form__group">
            <label for="first-name">First name</label>
            <input type="text" class="input" id="first-name">
          </div>
          <div class="form__group">
            <label for="first-name">Last name</label>
            <input type="text" class="input" id="last-name">
          </div>
          <div class="form__group">
            <label for="company-name">Company name</label>
            <input type="text" class="input" id="company-name">
          </div>
          <div class="form__group">
            <label for="first-name">Email</label>
            <input type="email" class="input" id="email">
          </div>
        </form>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var toggleOptions = document.querySelectorAll(".toggle__option")
        triangle = document.querySelector("#triangle"),
          loginLink = document.querySelector("#login"),
          loginBox = document.querySelector("#login-box");
        toggleOptions.forEach(function(option) {
          option.addEventListener("click", function(e) {
            document.querySelector(".toggle__option--on").classList.remove("toggle__option--on");
            e.target.classList.add("toggle__option--on");
            if(e.target.dataset.toggle === "school") {
              triangle.classList.remove("triangle--occupational");
              triangle.classList.add("triangle--school");
            }
            if(e.target.dataset.toggle === "occupational") {
              triangle.classList.remove("triangle--school");
              triangle.classList.add("triangle--occupational");
            }
          });
        });
      });
    </script>
  </body>
</html>
