<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Headway</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<body class="login">
    <div class="container">
        <img src="../img/logo.jpg" alt="" class="home__logo">
        <form method="POST" class="form form--contained">
            <h1 class="form__title">Login</h1>
            <div class="form__group">
                <label for="email">Email (for student)</label>
                <input type="text" name="email" class="input" autofocus>
            </div>
            <div class="form__group">
                <label for="username">Username (for admin)</label>
                <input type="text" name="username" class="input" autofocus>
            </div>
            <div class="form__group">
                <label for="password">Password</label>
                <input type="password" name="password" class="input">
            </div>
            <div class="form__footer">
                <input type="submit" class="btn btn--block btn--filled" value="Sign in">
            </div>
        </form>
    </div>
</body>

</html>
