@import "../../../sass/variables.scss";

.ProgressBar {
  position: relative;
  height: 1rem;
  width: 100%;
  background: $green;
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: $radius;
  box-shadow: $boxShadow;
  text-shadow: $textShadow;
}

.ProgressBar__text {
  position: relative;
  z-index: 20;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  span { font-weight: 400; padding-left: 0.25rem }
}

.ProgressBar__bar {
  position: absolute;
  background: lighten($green, 10);
  top: 0;
  bottom: 0;
  right: 100%;
  z-index: 10;
  width: 100%;
  transition: transform 375ms ease;
}
