<div class="StudentCard">
  <div class="StudentCard__video">
    <video :src="media" controls class="StudentCard__player"></video>
  </div>
  <div class="container">
    <div v-html="activeStudentCard.content"></div>
  </div>
  <div class="StudentCard__footer">
    <div class="StudentCard__footer-wrap">
      <button class="btn btn--standard btn--block" @click="showQuiz">Take quiz</button>
    </div>
  </div>
  <div :class="{ 'StudentCard__quiz' : true, 'StudentCard__quiz--visible' : quizVisible }" @click="hideQuiz">
    <Quiz @finish="hideQuiz" :questions="parsedQuestions"></Quiz>
  </div>
</div>
