.Units {
  .Card {
    cursor: pointer;
  }
}

.Units__error {
  margin: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 1024px) {

  .Units__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .Units .Card {
    opacity: 0.75;
    transition: opacity 200ms ease;
  }

  .Units .Card:hover {
    opacity: 1;
  }

}
