<div class="container" style="padding-top: 50px">
  <h1>Largest heading</h1>
  <h2>Large heading</h2>
  <h3>Regular heading</h3>
  <p>Ipsum nihil sunt nemo eaque veniam lorem. Ipsa ducimus iusto dolorum repellat minima. Architecto eum consectetur sint deleniti explicabo molestiae nemo nihil rerum repellat! Aperiam ex obcaecati architecto odio amet.</p>
  <p>
    <a class="btn" href="#">Button</a>
  </p>
  <div>
    <div class="form__group">
      <label class="label" for="input">Label example</label>
      <input type="text" id="input" class="input" placeholder="How about a placeholder?">
    </div>
    <div class="form__group">
      <label class="label" for="textarea">Textarea label</label>
      <textarea class="input"></textarea>
    </div>
  </div>
  <Card title="Card" sub-title="The smaller copy below">
  </Card>
  <Card title="Card with body" sub-title="The smaller copy below">
    <div slot="body">Some extra shit</div>
  </Card>
  <p>
    <a class="btn" href="#modal-example">Show modal</a>
  </p>
</div>
