@import "../../../sass/variables.scss";

.Quiz {
  background: #fff;
  padding: 1rem;
}

@keyframes showQuestion {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Quiz__answer {
  display: block;
  height: 2.5rem;
  width: 100%;
  line-height: 2.5rem;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0 1rem;
  text-align: left;
  transition: all 200ms ease;
  outline: 0;
}

.Quiz__question {
  opacity: 0;
  animation: showQuestion 375ms ease forwards;
}

.Quiz__answer--clicked.Quiz__answer--correct {
  background: $green;
  color: #fff;
  border-color: $green;
}

.Quiz__answer--clicked.Quiz__answer--wrong {
  font-weight: 900;
  background: red;
  color: #fff;
  border-color: red;
}
