.Quiz__question {
  margin-bottom: 1rem;
}

.Quiz__answer {
  margin-bottom: 0.25rem;
}

.Quiz__add-answer {
  opacity: 0.75;
  background: #eee;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.Quiz__add-answer:hover {
  opacity: 1;
}

.Quiz__question + .Quiz__question {
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
}


.Quiz__question .Quiz__question,
.Quiz__question + .Quiz__add-question {
  margin-top: 1rem;
}
