<div class="StudentHome">
  <div class="container">
    <div v-show="student.courses && !student.courses.length" class="text-centered" style="margin: 100px 20px">
      <h3 class="flat">You have no courses</h3>
      <p>Your courses will appear here once your trainer assigns them.</p>
    </div>
    <router-link v-for="course in student.courses" :key="course.id" :to="{ name: 'studentCourse', params: { courseId: course.id }}" v-show="student.courses && student.courses.length">
      <Card :icon="'course'" :title="course.name">
        <div slot="body">
          <ProgressBar class="flat" :completed="course.CourseStudent.completedUnits || 0" :total="course.units.length" collection="Units"></ProgressBar>
        </div>
      </Card>
    </router-link>
  </div>
</div>
