.StudentCourse {
  border-bottom: 1px solid #ddd;
}

.StudentCourse__header {
  background: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.StudentCourse__body {
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.25);
}

.StudentCourse__link {
  padding: 1rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  color: inherit;
  font-size: 0.825rem;
  font-weight: 500;
  &:first-child {
    border-top: 0;
  }
  i { margin-right: 0 }
}
