@import "../../../sass/variables.scss";

.StudentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: linear-gradient(315deg, $blue 0%, #1b3f6b 74%);
  padding: 0 1.5rem;
  position: relative;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  z-index: 50;
}

.StudentHeader__title {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.User {
  display: flex;
  align-items: center;
  color: #fff;
}

.User__avatar {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.75rem;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.4));
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

// Header states

.StudentHeader__wrap {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.StudentHeader__title,
.StudentHeader__course,
.StudentHeader__unit-card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 200ms ease;
}

.StudentHeader__unit-card {
  transition: none;
}

.StudentHeader__title,
.StudentHeader__course,
.StudentHeader__unit,
.StudentHeader__card {
  color: #fff;
}

.StudentHeader__title,
.StudentHeader__course {
  font-size: 1rem;
}

.StudentHeader__course,
.StudentHeader__unit-card {
  top: 100%;
}

.StudentHeader__unit {
  font-size: 1rem;
  transform: translateY(50%);
  opacity: 0;
  transition: all 200ms ease;
}

.StudentHeader__card {
  font-size: 0.75rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 200ms ease;
  font-weight: 400;
  color: $green;
}

.StudentHeader__wrap--home {
  .StudentHeader__title {
    opacity: 1;
  }
}

.StudentHeader__wrap--course {
  .StudentHeader__title {
    opacity: 0;
    transform: translateY(-100%)
  }
  .StudentHeader__course {
    opacity: 1;
    transform: translateY(-100%)
  }
}

.StudentHeader__wrap--card {
  .StudentHeader__title {
    opacity: 0;
    transform: translateY(-100%)
  }
  .StudentHeader__course {
    opacity: 0;
    transform: translateY(-100%)
  }
  .StudentHeader__unit-card {
    opacity: 1;
    transform: translateY(-100%)
  }
  .StudentHeader__unit,
  .StudentHeader__card {
    transform: translateY(0);
    opacity: 1;
  }
}
