<div class="QuizBuilder__question Card">
  <label class="label">Question {{ count }}</label>
  <input type="text" @focus.native="$event.target.select()" v-model="question" class="input" placeholder="Question">
  <div class="QuizBuilder__answers">
    <label class="label">Answers</label>
    <QuizBuilderAnswer
      v-for="(answer, aIndex) in answers"
      :key="aIndex"
      :answer="answer.text"
      :correct="answer.correct"
    />
    <div class="input QuizBuilder__add-answer" @click="$emit('addAnswer')">Add another answer</div>
  </div>
</div>
