.StudentProfile {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
}

.StudentProfile__progress {
  margin-top: -0.5rem;
}

.StudentProfile__group {
  margin-bottom: 2rem;
}
