<div class="StudentProfile">
  <div>
    <Card
      :sub-title="activeStudentProfile.email"
      :title="activeStudentProfile.first_name + ' ' + activeStudentProfile.last_name">
      <div slot="body">
        <h2>Activity</h2>
      </div>
    </Card>
  </div>
  <div>
    <div class="StudentProfile__group">
      <h3>Assigned Courses</h3>
      <div v-for="course in activeStudentProfile.courses" :title="course.name" class="StudentProfile__course">
        <router-link :to="{ name: 'course', params: { courseId : course.id }}"><strong>{{ course.name }}</strong></router-link>
        <ProgressBar :complete="course.CourseStudent.completedUnits" :total="11"></ProgressBar>
        <div v-if="course.CourseStudent.timeSpentOnCurrentUnit"> Time spent on current Unit: {{ course.CourseStudent.timeSpentOnCurrentUnit }} </div>
        <button @click="confirmRemoveCourse(course.id)">
          <!--<button @click="removeStudentFromCourse(course.id)">-->
          Remove Student from Course
        </button>
      </div>
      <button class="btn" @click="toggleModal('addStudentCourse')">
        Assign course
      </button>
    </div>

    <div class="StudentProfile__group">
      <h4>Businesses</h4>
      <div v-for="business in activeStudentProfile.businesses">
        <p>{{ business.name }}</p>
        <button @click="removeStudentFromBusiness(business.id)">
          Remove Student from Business
        </button>
      </div>
      <button @click="toggleModal('student')">
        Add Student to Business
      </button>
    </div>
  </div>
</div>
