<div>
  <div class="StudentProfile" v-show="loaded">
    <div>
      <div class="StudentProfile__header">
        <h1 class="flat" v-show="activeStudentProfile.first_name">{{ activeStudentProfile.first_name }} {{ activeStudentProfile.last_name }}</h1>
        <h1 class="flat" v-show="!activeStudentProfile.first_name">{{ activeStudentProfile.email }}</h1>
        <p v-show="activeStudentProfile.lastLoggedIn">Logged in {{ activeStudentProfile.lastLoggedIn | moment("from", true) }} ago</p>
        <p v-show="!activeStudentProfile.lastLoggedIn">Has not logged in yet</p>
      </div>
      <h3>Activity</h3>
      <div class="Activity">
        <p class="pressed small" v-for="activity in activeStudentProfile.activity">
        <i class="fal fa-clock Activity__icon"></i>
          {{ activeStudentProfile.first_name }}
          {{ activity.text }}
          {{ activity.completed ? '(completed)' : '(attempted)' }}
          {{ activity.updatedAt | moment("from", true) }} ago
          <!-- <router-link :to="{name: 'card', params: { cardId: activity.cardId } }" v-if="activity.cardId">Card: #{{ activity.cardId }}</router-link> -->
        </p>
        <p class="small" v-if="activeStudentProfile.businesses && activeStudentProfile.first_name"><i class="fal fa-clock Activity__icon"></i> {{ activeStudentProfile.first_name }} was invited {{ activeStudentProfile.businesses[0].createdAt | moment("from", true) }} ago</p>
        <p class="small" v-if="activeStudentProfile.businesses && !activeStudentProfile.first_name"><i class="fal fa-clock Activity__icon"></i> {{ activeStudentProfile.email }} was invited {{ activeStudentProfile.businesses[0].createdAt | moment("from", true) }} ago</p>
      </div>
    </div>
    <div>
      <div class="StudentProfile__group">
        <h4>Assigned Courses</h4>
        <div>
          <p v-show="activeStudentProfile.courses && !activeStudentProfile.courses.length">No courses</p>
          <div v-for="course in activeStudentProfile.courses" v-show="activeStudentProfile.courses && activeStudentProfile.courses.length"class="Card CourseCard">
            <div class="CourseCard__wrap">
              <i class="fal fa-trash-alt CourseCard__action" @click="confirmRemoveCourse(course.id)"></i>
              <router-link :to="{ name: 'course', params: { courseId : course.id }}" class="CourseCard__link">
                <p class="flat"><strong>{{ course.name }}</strong></p>
                <small>Assigned {{ course.CourseStudent.createdAt | moment("from", true) }} ago</small>
              </router-link>
              <ProgressBar class="CourseCard__progress" collection="units" :completed="course.CourseStudent.completedUnits" :total="11"></ProgressBar>
            </div>
          </div>
          <button class="btn btn--small btn--text" @click="toggleModal('addStudentCourse')" v-show="activeStudentProfile.courses && activeStudentProfile.courses.length < courses.length">
            <i class="fal fa-plus"></i> Assign a course
          </button>
        </div>
      </div>

      <div class="StudentProfile__group">
        <h4 v-show="activeStudentProfile.first_name">{{ activeStudentProfile.first_name }} works with</h4>
        <h4 v-show="!activeStudentProfile.first_name">Student works with</h4>
        <div v-if="activeStudentProfile.businesses.length === 1">
          No businesses
        </div>
        <router-link v-for="(business, i) in activeStudentProfile.businesses"
          v-if="i > 0"
          class="Card CourseCard"
          :key="i"
          :to="{ name: 'businessProfile', params: { businessId : business.id }}"
        >
          <div class="CourseCard__wrap CourseCard__wrap--flat flex flex--aligned">
            <i class="icon icon--large business" style="margin-right: 1rem"></i>
            <div class="tight">
              <p class="flat"><strong>{{ business.name }}</strong></p>
              <small>Subscribed {{ business.createdAt | moment("from", true) }} ago</small>
            </div>
          </div>
          <div class="CourseCard__actions">
            <button @click="removeStudentFromBusiness(business.id)">
              Remove Student from Business
            </button>
          </div>
        </router-link>
        <button class="btn btn--small btn--text" @click="toggleModal('student')" hidden>
          <i class="fal fa-plus"></i> Invite to business
        </button>
      </div>
    </div>
  </div>
  <div class="sk-fading-circle" v-show="!loaded">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</div>
