<div id="dashboard" class="Dashboard">
  <Header authed admin></Header>
  <div class="Dashboard__content">
    <div class="Dashboard__sidebar">
      <h4>Your courses</h4>
      <CourseMenu :items="courseMenu"></CourseMenu>
    </div>
    <div class="Dashboard__main">
      <Students :students="students"></Students>
      <Businesses :businesses="businesses"></Businesses>
    </div>
  </div>
  <AddCourse v-show="showCourseModal" @close="showCourseModal = false"></AddCourse>
  <AddStudent v-show="showStudentModal" @close="showStudentModal = false"></AddStudent>
</div>
