<div id="dashboard" class="Dashboard">
  <Header
    authed
    @inviteStudent="showStudentModal = true"
    @createBusiness="showBusinessModal = true">
  </Header>
  <div class="Dashboard__content">
    <div class="Dashboard__sidebar">
      <CourseMenu @createCourse="showCourseModal = true" :items="courseMenu"></CourseMenu>
    </div>
    <div class="Dashboard__main">
      <Students v-if="view == 'dashboard'"></Students>
      <Course v-if="view == 'course'" :name="activeCourse.name" :units="activeCourse.units"></Course>
    </div>
  </div>
  <AddCourse v-show="showCourseModal" @close="showCourseModal = false"></AddCourse>
  <AddStudent v-show="showStudentModal" @close="showStudentModal = false"></AddStudent>
  <AddBusiness v-show="showBusinessModal" @close="showBusinessModal = false"></AddBusiness>
</div>
