<div class="Students">
  <h2>All Students</h2>
  <div class="Students__wrap">
    <Card v-for="(student, sIndex) in students" :title="student.name" :key="sIndex">
      <div slot="body">
        <div v-for="(course, cIndex) in student.courses">
          <label class="label flat flex flex--spaced">
            <span>{{ course.name }}</span>
            <span class="ghosted">{{ course.CourseStudent.assigned | moment("from", true) }} spent</span>
          </label>
          <ProgressBar :key="cIndex" :completed="sIndex + 4" :total="12"></ProgressBar>
        </div>
      </div>
    </Card>
  </div>
</div>
