.Students {
  padding: 1rem 2rem;
}

.Students__elapsed {
  text-align: right;
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 0.825rem;
}

.Students__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

@media(min-width: 1024px) {

  .Students__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .Students .Card {
    cursor: pointer;
    transition: all 200ms ease;
    &:hover {
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
  }

}
