<div class="Students">
  <Filters></Filters>
  <div class="Students__wrap">
    <Card v-for="(student, sIndex) in students" :title="student.name" :key="sIndex">
      <div slot="body">
        <p>{{ student.email }}</p>
        <div v-for="(course, cIndex) in student.courses">
          <label class="label flat flex flex--spaced">
            <span>{{ course.name }}</span>
          </label>
          <ProgressBar class="flat" :key="cIndex" :completed="sIndex + 4" :total="12"></ProgressBar>
          <p class="Students__elapsed"><small class="ghosted">{{ course.CourseStudent.assigned | moment("from", true) }} spent</small></p>
        </div>
      </div>
    </Card>
  </div>
</div>
