<div id="dashboard" class="AdminApp">
  <Header
    authed
    @inviteStudent="showStudentModal = true"
    class="AdminApp__header"
    @createBusiness="showBusinessModal = true">
  </Header>
  <div class="AdminApp__content">
    <div class="AdminApp__sidebar">
      <CourseMenu @createCourse="showCourseModal = true" :items="courseMenu"></CourseMenu>
    </div>
    <div class="AdminApp__main">
      <Students v-if="view == 'dashboard'"></Students>
      <!-- The following v-if is bad. -->
      <Course @create-unit="showUnitModal = true" v-if="view != 'dashboard'" :name="activeCourse.name" :units="activeCourse.units"></Course>
    </div>
  </div>
  <AddCourse v-show="modals.course" @close="toggleModal('course')"></AddCourse>
  <AddStudent v-show="modals.student" @close="toggleModal('student')"></AddStudent>
  <AddBusiness v-show="modals.business" @close="toggleModal('business')"></AddBusiness>
  <AddUnit v-show="modals.unit" @close="toggleModal('unit')"></AddUnit>
  <AddCard v-show="modals.card" @close="toggleModal('card')"></AddCard>
</div>
