<div :class="{ 'UnitList': true, 'UnitList--empty': !cards.length }">
  <header class="UnitList__head">
    <i class="icon unit"></i>
    <h4 class="flat">{{ name }}</h4>
    <div class="div UnitList__options">
      <i class="fa fa-ellipsis-v UnitList__dots" @click="toggleMenu"></i>
      <div class="UnitList__menu" v-show="menuOpen">
        <div class="UnitList__menu-option" @click="removeUnit"><i class="fa fa-trash"></i> Delete</div>
      </div>
    </div>
  </header>
  <div class="sk-fading-circle" v-show="loading">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
  <div v-show="!loading">
    <div class="UnitList__body">
      <router-link class="UnitList__card" v-for="card in cards" :key="'card-link-' + card.id" :to="{ name: 'card', params: { courseId: route.params.courseId, unitId: unitId, cardId: card.id }}">
        <Card :key="card.id" class="flat" :title="card.name">
        </Card>
      </router-link>
    </div>
    <div class="UnitList__footer">
      <form @submit.prevent="submit" slot="body" class="Card UnitList__new-card" v-show="addingCard">
        <input type="text" class="input" id="cardName" ref="cardName" @blur="blur" v-model="cardName" placeholder="Card name" autofocus autocomplete="off" required>
        <button class="btn btn--block">Save</button>
      </form>
      <button class="btn btn--block btn--standard Course__action" @click.stop="addCard">Add a card</button>
    </div>
  </div>
</div>
