<div :class="{ 'UnitList': true, 'UnitList--empty': !cards.length }">
  <header class="UnitList__head">
    <i class="icon unit"></i>
    <h4 class="flat">{{ name }}</h4>
  </header>
  <div class="UnitList__body" v-show="cards.length">
    <router-link class="UnitList__card" v-for="card in cards" :to="{ name: 'card', params: { courseId: route.params.courseId, unitId: unitId, cardId: card.id }}">
      <Card :key="card.id" class="flat" :title="card.name"></Card>
    </router-link>
  </div>
  <div class="UnitList__footer">
    <form @submit.prevent="submit" slot="body" class="Card UnitList__new-card" v-show="addingCard">
      <input type="text" class="input" id="cardName" ref="cardName" @blur="blur" v-model="cardName" placeholder="Card name" autofocus autocomplete="off" required>
      <button class="btn btn--block">Save</button>
    </form>
    <button class="btn btn--block btn--standard Course__action" @click="addCard">Add a card</button>
  </div>
</div>
