@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Course__action {
  animation: fadeInUp 200ms ease;
}

.Course {
  padding-top: 6rem;
}
