<div class="Course" v-if="currentCourse">
  <div class="Units" v-if="currentCourse.units">
    <UnitList
      v-for="unit in currentCourse.units"
      class="Units__list"
      :name="unit.name"
      :unit-id="unit.id"
      :course-id="route.params.courseId"
      :key="'unit-' + unit.id"></UnitList>
    <div class="Card Card--action Units__list" @click="toggleModal('addUnit')">
      <i class="fa fa-plus" style="margin-right: 1rem; margin-top: -2px"></i> Add a unit
    </div>
  </div>
</div>
