<transition name="Modal">
  <Modal @close="$emit('close')">
    <Card slot="body" title="Add student">
      <form slot="body" @submit.prevent="submit">
        <div class="form__group">
          <label class="label" for="student-email">Email</label>
          <input type="email" placeholder="john@smith.com" class="input" id="student-email" v-model="email" v-focus="modals.addStudent">
        </div>
        <div class="form__group">
          <label class="label">Add to Business (optional)</label>
          <label class="checkbox" :for="'student-item-' + index" v-for="(business, index) in businesses">
            <input type="checkbox" :id="'student-item-' + index" :value="business.id" v-model="businessIds">
            {{ business.name }}
          </label>
        </div>
        <div class="form__footer">
          <button class="btn btn--block" :disabled="submitting">Send Invite</button>
        </div>
      </form>
    </Card>
  </Modal>
</transition>
