@import "../../../sass/variables.scss";

.Admin {
  min-height: 100%;
}

.Admin__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.Admin__main {
  flex: 1;
  position: relative;
  padding: 1rem;
  padding-top: 0;
  padding-left: calc(280px + 2rem);
}

.Admin__sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 1rem;
  width: 280px;
  background: linear-gradient(315deg, #1b3f6b 0%, #263454 74%);
  z-index: 500;
  color: #fff;
}

.Admin__sidebar-title {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Admin__sidebar-title i {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  height: 2.25rem;
  width: 2.25rem;
  line-height: 2.25rem;
  border-radius: 50%;
  opacity: 0.75;
  cursor: pointer;
}

.Admin__sidebar-title i:hover {
  background-color: rgba(0,0,0,.1);
  opacity: 1;
}

.Admin__sidebar-head {
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 1rem;
  display: flex;
  height: 4rem;
  align-items: center;
  background: $blue;
}

.Admin__toolbar {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-left: -2rem;
  margin-right: -1rem;
  background: #fff;
  padding-left: 2rem;
  padding-right: 1rem;
}
