<div id="dashboard" class="Admin">
  <div class="Admin__content">
    <div class="Admin__sidebar">
      <div class="Admin__sidebar-head">
        <router-link class="Logo" to="/dashboard">
          <div class="Logo__icon">H</div>
          Headway
        </router-link>
      </div>
      <div class="Browse">
        <h4 class="Admin__sidebar-title">
          Courses
          <i class="fa fa-plus" @click="toggleModal('course')"></i>
        </h4>
        <CourseMenu @createCourse="showCourseModal = true" :items="courseMenu"></CourseMenu>
        <h4 class="Admin__sidebar-title">
          Businesses
          <i class="fa fa-plus" @click="toggleModal('business')"></i>
        </h4>
        <CourseMenu @createCourse="showBusinessModal = true" :items="businessMenu"></CourseMenu>
      </div>
    </div>
    <div class="Admin__main">
      <div class="Admin__toolbar">
        <Breadcrumbs :crumbs="breadcrumbs">
        </Breadcrumbs>
        <button class="btn" v-show="route.name === 'dashboard'" @click="toggleModal('student')">Invite student</button>
        <button class="btn Course__action" v-show="route.name === 'course'" @click="toggleModal('unit')">Create a unit</button>
        <button class="btn Course__action" v-show="route.name === 'unit'" @click="toggleModal('card')">Create a card</button>
        <div v-show="route.name === 'studentProfile'">
          <button class="btn btn--standard" @click="toggleModal('unit')">Edit</button>
          <button class="btn btn--standard" @click="toggleModal('card')">Delete</button>
        </div>
      </div>
      <StudentList v-if="route.name === 'dashboard'"></StudentList>
      <StudentProfile v-if="route.name === 'studentProfile'"></StudentProfile>
      <BusinessProfile v-if="route.name === 'businessProfile'"></BusinessProfile>
      <!-- The following v-if is bad. -->
      <Course @create-unit="showUnitModal = true" v-if="route.name === 'course' || 'unit' || 'card'" :name="activeCourse.name" :units="activeCourse.units"></Course>
    </div>
  </div>
  <AddCourse v-show="modals.course" @close="toggleModal('course')"></AddCourse>
  <AddStudent v-show="modals.student" @close="toggleModal('student')"></AddStudent>
  <AddBusiness v-show="modals.business" @close="toggleModal('business')"></AddBusiness>
  <AddUnit v-show="modals.unit" @close="toggleModal('unit')"></AddUnit>
  <AddCard v-show="modals.card" @close="toggleModal('card')"></AddCard>
  <AddStudentCourse v-show="modals.addStudentCourse" @close="toggleModal('addStudentCourse')"></AddStudentCourse>
  <RemoveStudentCourse v-show="modals.removeStudentCourse" @close="toggleModal('removeStudentCourse')"></RemoveStudentCourse>
  <RemoveCourse v-show="modals.removeCourse" @close="toggleModal('removeCourse')"></RemoveCourse>
  <RemoveUnit v-show="modals.removeUnit" @close="toggleModal('removeUnit')"></RemoveUnit>
  <RemoveCard v-show="modals.removeCard" @close="toggleModal('removeCard')"></RemoveCard>
</div>
