.Admin {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 4rem;
}

.Admin__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.Admin__content {
  flex: 1;
  display: flex;
}

.Admin__main {
  flex: 1;
  padding: 1rem;
  padding-top: 0;
  position: relative;
}

.Admin__sidebar {
  display: none;
}

.Admin__sidebar-title {
  color: #fff;
}

.Admin__toolbar {
  position: fixed;
  top: 4rem;
  left: 20rem;
  right: 0;
  z-index: 100;
  padding: 0 2rem;
  background: #fff;
}

@media(min-width:768px) {

  .Admin__toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .Admin__main {
    flex: 1;
    padding: 1rem 2rem;
    padding-top: 0;
    padding-left: 22rem;
  }

  .Admin__sidebar {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 20rem;
    bottom: 0;
    display: block;
    z-index: 100;
    padding: 1.5rem 1rem;
    background: #1e283c;
    color: #fff;
  }

  .Admin__main .Businesses {
    width: 15rem;
  }

  .Admin__main .Breadcrumbs {
    position: fixed;
    top: 5.6rem;
    left: 22rem;
    z-index: 200;
  }

}
