@import "../../../sass/variables.scss";

.Admin {
  min-height: 100%;
}

.Admin__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.Admin__main {
  flex: 1;
  position: relative;
  padding: 1rem;
  padding-top: 0;
  padding-left: calc(280px + 2rem);
}

.Admin__sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 1rem;
  width: 280px;
  background: $blue;
  z-index: 500;
  color: #fff;
}

.Admin__sidebar-title {
  color: #fff;
  position: relative;
  margin-right: 3rem;
  margin-bottom: 0.25rem;
}

.Admin__sidebar-title i {
  position: absolute;
  top: -8px;
  right: -3rem;
  display: block;
  font-size: 0.875rem;
  text-align: center;
  height: 2.25rem;
  width: 2.25rem;
  line-height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  background: $blue;
  transition: all 200ms ease;
}

.Admin__sidebar-title i:hover {
  background: $green;
  color: #fff;
}

.Admin__sidebar .Logo {
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 1rem;
  display: flex;
  height: 4rem;
  align-items: center;
  background: darken($blue, 7.5);
  transition: all 200ms ease;
}

.Admin__sidebar .Logo:hover {
  background: darken($blue, 5);
}

.Admin__sidebar .Logo:hover .Logo__icon {
  background: $green;
  color: #fff;
}

.Admin__toolbar {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-left: -2rem;
  margin-right: -1rem;
  background: #fff;
  padding-left: 2rem;
  padding-right: 1rem;
}
